.toast {
    position: absolute;
    background: rgb(184, 216, 236);
    padding: 16px 48px;
    right: 40px;
    bottom: 40px;
    font-size: 20px;
}

@media screen and (max-width: 768px){
    .toast {
        left: auto;
        right: auto;
    }
}