.game {
    display: flex;
    flex-direction: column;
    align-items: center;
  
    &__stroke {
      display: flex;
    }
  
    &__strokeItem {
      width: 80px;
      height: 80px;
      border: 1px solid #000;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      transition: all ease 0.2s;
  
      &:hover {
        background: rgb(226, 184, 184);
        transform: scale(1.2);
      }
  
      &_disabled {
        &:hover {
          background: rgba(0, 0, 0, 0.05) !important;
          transform: scale(1)  !important;
        }
      }
  
      &_winner {
        background:rgb(166, 243, 179)
      }
    }
  
    &_blueTurn {
      .game__strokeItem {
        &:hover {
          background: rgb(144, 182, 192);
        }
      }
    }
  
    &__button {
      margin-top: 24px;
      padding: 8px 16px;
      cursor: pointer;
      background: rgb(181, 207, 198);
      border: 1px solid #000;
      border-radius: 4px;
      font-size: 16px;
      color: #000;
  
      &:hover {
        background: rgb(158, 180, 173);
      }
    }
  }